In [206]:
import pandas as pd 
    
# making dataframe 
indicators_df = pd.read_csv("indicators_data.csv") 
   
# output the dataframe and take a look at our data
indicators_df.head()

,Series Name,Series Code,Country Name,Country Code,2010 [YR2010]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,29185511
1,"Population, total",SP.POP.TOTL,Africa Eastern and Southern,AFE,518468229
2,"Population, total",SP.POP.TOTL,Africa Western and Central,AFW,350556886
3,"Population, total",SP.POP.TOTL,Albania,ALB,2913021
4,"Population, total",SP.POP.TOTL,Algeria,DZA,35977451

In [207]:
column_headers = list(indicators_df.columns.values)
print(column_headers)

['Series Name', 'Series Code', 'Country Name', 'Country Code', '2010 [YR2010]']

In [208]:
del indicators_df['Country Code']
del indicators_df['Series Code']
indicators_df.head()

         Series Name                 Country Name 2010 [YR2010]
0  Population, total                  Afghanistan      29185511
1  Population, total  Africa Eastern and Southern     518468229
2  Population, total   Africa Western and Central     350556886
3  Population, total                      Albania       2913021
4  Population, total                      Algeria      35977451

In [195]:
print(indicators_df['Series Name'].unique()) #find all the unique indicators

['Population, total' 'Population growth (annual %)'
 'Rural population (% of total population)'
 'Urban population (% of total population)'
 'School enrollment, secondary (% gross)'
 'Public spending on education, total (% of GDP)'
 'GNI per capita, Atlas method (current US$)'
 'Life expectancy at birth, total (years)'
 'Labor force, female (% of total labor force)' nan
 'Data from database: Health Nutrition and Population Statistics'
 'Last Updated: 09/19/2022']

In [196]:
by_series = indicators_df.groupby("Series Name") #group by these indicators

In [223]:
unique_indicators = indicators_df['Series Name'].unique()
countries_list = indicators_df['Country Name'].values.tolist()
population_total = by_series.get_group('Population, total')
population_growth = by_series.get_group('Population growth (annual %)')
rural_population = by_series.get_group('Rural population (% of total population)')
urban_population = by_series.get_group('Urban population (% of total population)')
school_enrollment = by_series.get_group('School enrollment, secondary (% gross)')
education_spending = by_series.get_group('Public spending on education, total (% of GDP)')
gni_capita = by_series.get_group('GNI per capita, Atlas method (current US$)')
life_expectancy = by_series.get_group('Life expectancy at birth, total (years)')
female_labour = by_series.get_group('Labor force, female (% of total labor force)')

In [232]:
new_population = population_total.values.tolist()
new_pop_growth = population_growth.values.tolist()
new_rural_pop = rural_population.values.tolist()
new_urban_pop = urban_population.values.tolist()
new_school = school_enrollment.values.tolist()
new_education = education_spending.values.tolist()
new_gni = gni_capita.values.tolist()
new_life = life_expectancy.values.tolist()
new_labour = female_labour.values.tolist()

In [199]:
population_total.head()

         Series Name                 Country Name 2010 [YR2010]
0  Population, total                  Afghanistan      29185511
1  Population, total  Africa Eastern and Southern     518468229
2  Population, total   Africa Western and Central     350556886
3  Population, total                      Albania       2913021
4  Population, total                      Algeria      35977451

In [247]:
#final_data = {'Country Name': population_total['Country Name'],
 #            'Population Total': population_total['2010 [YR2010]'],
   #        'Rural Population': rural_population['2010 [YR2010]'],
  #         'Urban Population': urban_population['2010 [YR2010]'],
    #       'School Enrollment': school_enrollment['2010 [YR2010]'],
     #      'Education Spending': education_spending['2010 [YR2010]'],
       #    'GNI per Capita': gni_capita['2010 [YR2010]'],
      #     'Life Expectancy': life_expectancy['2010 [YR2010]'],
        #   'Female Labour Force': female_labour['2010 [YR2010]']}

new_population = population_total.values.tolist()
new_pop_growth = population_growth.values.tolist()
new_rural_pop = rural_population.values.tolist()
new_urban_pop = urban_population.values.tolist()
new_school = school_enrollment.values.tolist()
new_education = education_spending.values.tolist()
new_gni = gni_capita.values.tolist()
new_life = life_expectancy.values.tolist()
new_labour = female_labour.values.tolist()


final_final_data = {countries_list[0]:[new_population[0][2], new_pop_growth[0][2], new_rural_pop[0][2], new_urban_pop[0][2], new_school[0][2], new_gni[0][2], new_life[0][2], new_labour[0][2]]}

print(final_final_data)

{'Afghanistan': ['29185511', '2.74661463795293', '76.263', '23.737', '50.5672492980957', '510', '61.028', '15.7850319147431']}

In [252]:
final_final_df = pd.DataFrame(final_final_data)
final_final_df.head()

        Afghanistan
0          29185511
1  2.74661463795293
2            76.263
3            23.737
4  50.5672492980957

In [144]:
final_df.to_excel('C:/Users/pc/Downloads/LSE/GV100/DS105/dataframe.xlsx')