In [125]:
import pandas as pd 
    
# making dataframe 
indicators_df = pd.read_csv("indicators_data.csv") 
   
# output the dataframe and take a look at our data
indicators_df.head()

,Series Name,Series Code,Country Name,Country Code,2010 [YR2010]
0,"Population, total",SP.POP.TOTL,Afghanistan,AFG,29185511
1,"Population, total",SP.POP.TOTL,Africa Eastern and Southern,AFE,518468229
2,"Population, total",SP.POP.TOTL,Africa Western and Central,AFW,350556886
3,"Population, total",SP.POP.TOTL,Albania,ALB,2913021
4,"Population, total",SP.POP.TOTL,Algeria,DZA,35977451

In [126]:
column_headers = list(indicators_df.columns.values)
print(column_headers)

['Series Name', 'Series Code', 'Country Name', 'Country Code', '2010 [YR2010]']

In [127]:
del indicators_df['Country Code']
del indicators_df['Series Code']

In [128]:
print(indicators_df['Series Name'].unique()) #find all the unique indicators

['Population, total' 'Population growth (annual %)'
 'Rural population (% of total population)'
 'Urban population (% of total population)'
 'School enrollment, secondary (% gross)'
 'Public spending on education, total (% of GDP)'
 'GNI per capita, Atlas method (current US$)'
 'Life expectancy at birth, total (years)'
 'Labor force, female (% of total labor force)' nan
 'Data from database: Health Nutrition and Population Statistics'
 'Last Updated: 09/19/2022']

In [130]:
by_series = indicators_df.groupby("Series Name") #group by these indicators

In [131]:
population_total = by_series.get_group('Population, total')
population_growth = by_series.get_group('Population growth (annual %)')
rural_population = by_series.get_group('Rural population (% of total population)')
urban_population = by_series.get_group('Urban population (% of total population)')
school_enrollment = by_series.get_group('School enrollment, secondary (% gross)')
education_spending = by_series.get_group('Public spending on education, total (% of GDP)')
gni_capita = by_series.get_group('GNI per capita, Atlas method (current US$)')
life_expectancy = by_series.get_group('Life expectancy at birth, total (years)')
female_labour = by_series.get_group('Labor force, female (% of total labor force)')

In [132]:
population_total.head()

         Series Name                 Country Name 2010 [YR2010]
0  Population, total                  Afghanistan      29185511
1  Population, total  Africa Eastern and Southern     518468229
2  Population, total   Africa Western and Central     350556886
3  Population, total                      Albania       2913021
4  Population, total                      Algeria      35977451

In [137]:
final_data = {'Country Name': population_total['Country Name'],
           'Population Total': population_total['2010 [YR2010]'],
           'Rural Population': rural_population['2010 [YR2010]'],
           'Urban Population': urban_population['2010 [YR2010]'],
           'School Enrollment': school_enrollment['2010 [YR2010]'],
           'Education Spending': education_spending['2010 [YR2010]'],
           'GNI per Capita': gni_capita['2010 [YR2010]'],
           'Life Expectancy': life_expectancy['2010 [YR2010]'],
           'Female Labour Force': female_labour['2010 [YR2010]']}

In [139]:
final_df = pd.DataFrame(final_data)

,Country Name,Population Total,Rural Population,Urban Population,School Enrollment,Education Spending,GNI per Capita,Life Expectancy,Female Labour Force
0,Afghanistan,29185511,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,518468229,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Africa Western and Central,350556886,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,2913021,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Algeria,35977451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
175,New Zealand,4350700,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Nicaragua,5824058,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,Niger,16464025,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Nigeria,158503203,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,North America,343397156,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [144]:
final_df.to_excel('C:/Users/pc/Downloads/LSE/GV100/DS105/dataframe.xlsx')